.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

.chatbox {
    background-color: #fcefc9;
    border: 1px solid #ff4f9e;
    padding: 20px;
    margin: 0;
    height: 200px; 
    overflow-y: auto; 
    width: 300px; 
  }
  
  .chat-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .chat-list li {
    margin-bottom: 10px;
  }
  
  .chat-list li strong {
    font-weight: bold;
    color: #333;
  }
  
  .chat-list li strong {
    margin-right: 10px;
  }
  
  .chat-list li:last-child {
    margin-bottom: 0;
  }