.App {
  text-align: center;
  margin-top: 50px;
}

.App h1 {
  color: rgb(249, 94, 249);
  margin-bottom: 20px;
  -webkit-text-stroke: 1px #81155b;
}

.allow-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message-form {
  margin-top: 20px;
}

.message-form input {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
}

.message-form button {
  padding: 10px 20px;
  background-color: rgb(249, 94, 249);
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.message-form button:hover {
  background-color: rgb(212, 64, 212);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
