body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 225, 255);
  background-image: url("cow.png");
  background-position: top right;
  background-size: 40%;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-nav {
  text-align: left;
  margin-bottom: 50px;
  padding: 0 25px;
}

a {
  color: rgb(240, 135, 240);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s;
}

a:hover {
  color: rgb(238, 60, 238);
  text-decoration: underline;
}

.main-nav a {
  display: inline-block;
  padding: 25px 25px;
}
